html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
    background: #3720d8;
    opacity: 0.9;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {

}

.leaflet-popup-tip-container {
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: none repeat scroll 0 0 #3720d8;
  opacity: 0.9;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}



.info {
    padding: 6px 4px;
    font: 15px Arial, Helvetica, sans-serif;
    background: #789fde;
    box-shadow: 0px 0px 15px rgba(99, 99, 99, 0.68);
    display: block;
    width: 300px;
    text-align: center;
}

.info img {
  width: 250px;
  height: auto
}
